<html>
<link rel="stylesheet" href="/css/styleregister.css">

<h1 class="RegisterText" style="color:white;">Register</h1>
<br>
<%- include ('./partials/messages') %>
<form action="/users/register" method="POST">

  <div class="Image-Edit-Card">
    <label class="NameText" style="color:white;" for="name">Name: </label>
    <input class="NameInput"
      type="name"
      name="name"
      placeholder=" Enter Name"
      value="<%= typeof name != 'undefined' ? name : '' %>"
    />
  

<div>
  <br>
    <label class="EmailText" style="color:white;" for="email">Email: </label>
    <input class="EmailInput"
      type="email"
      name="email"
      placeholder=" Enter Email"
      value="<%= typeof email != 'undefined' ? email : '' %>"
    />
  </div>
  <div >
    <br>
    <label class="PasswordText" style="color:white;" for="password">Password: </label>
    <input class="PasswordInput"
      type="password"
      name="password"
      placeholder=" Create Password"
      value="<%= typeof password != 'undefined' ? password : '' %>"
    />
  </div>
  <div >
    <br>
    <label class="Password2Text" style="color:white;" for="password2">Confirm Password: </label>
    <input class="Password2Input"
      type="password"
      name="password2"
      placeholder=" Confirm Password"
      value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
    />
  </div>
  <br>
  <div id="wrapper">
  <button type="submit" class="btn btn-primary btn-block">
    Register
  </button>
</div>
</form>
<div>
  <br>
<p style="color:white;" > Have An Account? <br> 
<br>
 <a href="/users/login"> Login</a></p>
</div>

</html>